---
Language:           Cpp
BasedOnStyle:       Google
IncludeBlocks:      Regroup
IncludeCategories:
  - Regex:          '"absl/.*"'
    Priority:       20
  - Regex:          '".*"'
    Priority:       1
  - Regex:          '<Q[^.]*>'
    Priority:       80
  - Regex:          '<[^.]*>'
    Priority:       99
  - Regex:          '<volk\.h>'
    Priority:       10
  - Regex:          '<vk.*>'
    Priority:       15
  - Regex:          '<glad/.*\.h>'
    Priority:       15
  - Regex:          '<vulkan/.*\.h>'
    Priority:       16
  - Regex:          '<.*>'
    Priority:       50
IncludeIsMainRegex: '([-_](test|unittest))?$'
ColumnLimit: 120
...
