---
Language:           Cpp
BasedOnStyle:       Google
IndentWidth:        4
IncludeBlocks:      Regroup
IncludeCategories:
  - Regex:          '"absl/.*"'
    Priority:       20
  - Regex:          '".*"'
    Priority:       1
  - Regex:          '<Q[^.]*>'
    Priority:       80
  - Regex:          '<[^.]*>'
    Priority:       99
  - Regex:          '<.*>'
    Priority:       50
IncludeIsMainRegex: '([-_](test|unittest))?$'
...
